In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
!ls -alt

total 424
-rw------- 1 ldhagen ldhagen  11193 Jun  2 17:11  nohup.out
drwxrwxrwx 1 ldhagen ldhagen   4096 Jun  2 17:10  .
-rw-rw-rw- 1 ldhagen ldhagen   5198 Jun  2 17:10  Bexar_COVID_2Jun20.ipynb
-rw-rw-rw- 1 ldhagen ldhagen  16681 Jun  2 16:57  Texas_COVID_2Jun20.ipynb
-rw-rw-rw- 1 ldhagen ldhagen   4197 Jun  2 16:28  Untitled1.ipynb
drwxrwxrwx 1 ldhagen ldhagen   4096 Jun  2 16:24  .ipynb_checkpoints
-rwxrwxrwx 1 ldhagen ldhagen 100046 Jun  2 15:51  Texas_COVID_2Jun20PM.xlsx
-rw-rw-rw- 1 ldhagen ldhagen   8276 Jun  2 14:01  Texas_COVID_1Jun20-TestNumbers.ipynb
-rw-rw-rw- 1 ldhagen ldhagen  12567 Jun  2 13:43  Texas_COVID_1Jun20.ipynb
-rwxrwxrwx 1 ldhagen ldhagen  71515 Jun  2 13:34 'Cumulative Tests over Time by County.xlsx'
-rw-rw-rw- 1 ldhagen ldhagen     72 Jun  2 13:22  Untitled.ipynb
drwxrwxrwx 1 ldhagen ldhagen   4096 Jun  2 13:18  .git
drwxrwxrwx 1 ldhagen ldhagen   4096 Jun  1 16:48  ..
-rw-rw-rw- 1 ldhagen ldhagen     99 Jun  1 16:47  README.md
-rwxrwxrwx 1 ldhagen ldhagen 101228 Jun  1 16:12 'Texas COVID-19 Case Count Data by County (1).xlsx'

In [4]:
df_Texas_Covid = pd.read_excel('Texas_COVID_2Jun20PM.xlsx', header=2)

In [5]:
c = df_Texas_Covid

In [6]:
'Bexar' in c['County Name'].values

True

In [7]:
c['County Name'][14]

'Bexar'

In [8]:
type(c[['County Name']])

pandas.core.frame.DataFrame

In [9]:
c['County Name']

0                                               Anderson
1                                                Andrews
2                                               Angelina
3                                                Aransas
4                                                 Archer
                             ...
260    Population data is based on Texas population p...
261    Please also note that total and county-level c...
262                       Reporting Methodology Updates:
263    On March 24, DSHS updated the method of report...
264    The case counts do not include people who were...
Name: County Name, Length: 265, dtype: object

In [10]:
c[['County Name']]

                                           County Name
0                                             Anderson
1                                              Andrews
2                                             Angelina
3                                              Aransas
4                                               Archer
..                                                 ...
260  Population data is based on Texas population p...
261  Please also note that total and county-level c...
262                     Reporting Methodology Updates:
263  On March 24, DSHS updated the method of report...
264  The case counts do not include people who were...

[265 rows x 1 columns]

In [11]:
c.loc[c['County Name'] == 'Bexar']

,County Name,Population,Cases\r\r\r\n\r\r\r\n03-04,Cases\r\r\r\n\r\r\r\n03-05,Cases\r\r\r\n\r\r\r\n03-06,Cases\r\r\r\n\r\r\r\n03-09,Cases\r\r\r\n\r\r\r\n03-10,Cases\r\r\r\n\r\r\r\n03-11,Cases\r\r\r\n\r\r\r\n03-12,Cases\r\r\r\n\r\r\r\n03-13,...,Cases\r\r\r\n05-24,Cases\r\r\r\n05-25,Cases\r\r\r\n05-26,Cases\r\r\r\n05-27,Cases\r\r\r\n05-28,Cases\r\r\r\n05-29,Cases\r\r\r\n05-30,Cases\r\r\r\n05-31,Cases 06-01,Cases 06-02
14,Bexar,2093502,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2418.0,2442.0,2449.0,2480.0,2525.0,2583.0,2636.0,2825.0,2830.0,2839.0

In [12]:
d = c.set_index('County Name')

In [13]:
d.loc['Bexar']

Population                    2093502
Cases\r\r\r\n\r\r\r\n03-04          0
Cases\r\r\r\n\r\r\r\n03-05          0
Cases\r\r\r\n\r\r\r\n03-06          0
Cases\r\r\r\n\r\r\r\n03-09          0
                               ...
Cases\r\r\r\n05-29               2583
Cases\r\r\r\n05-30               2636
Cases\r\r\r\n05-31               2825
Cases 06-01                      2830
Cases 06-02                      2839
Name: Bexar, Length: 89, dtype: object

In [14]:
d.loc['Bexar'][1:].index[0]

'Cases\r\r\r\n\r\r\r\n03-04'

In [15]:
count = 0
current_total = 0
for x in d.loc['Bexar'][1:]:
    print(d.loc['Bexar'][1:].index[count], int(x), int(x - current_total))
    count += 1
    current_total = x

03-04 0 0


03-05 0 0


03-06 0 0


03-09 0 0


03-10 0 0


03-11 0 0


03-12 0 0


03-13 0 0


03-15 3 3


03-16 3 0


03-17 3 0


03-18 4 1


03-19 6 2


03-20 12 6


03-21 24 12


03-22 24 0


03-23 24 0


03-24 57 33


03-25 69 12


03-26 84 15


03-27 113 29


03-28 125 12


03-29 140 15


03-30 157 17


03-31 168 11


04-01 207 39


04-02 229 22


04-03 254 25


04-04 342 88


04-05 384 42


04-06 410 26


04-07 456 46


04-08 503 47


04-09 554 51


04-10 615 61


04-11 665 50


04-12 723 58


04-13 772 49


04-14 794 22


04-15 815 21


04-16 890 75


04-17 918 28


04-18 959 41


04-19 992 33


04-20 1015 23


04-21 1029 14


04-22 1080 51


04-23 1126 46


04-24 1167 41


04-25 1195 28


04-26 1231 36


04-27 1254 23


04-28 1275 21


04-29 1307 32

04-30 1326 19

05-01 1374 48

05-02 1477 103

05-03 1585 108

05-04 1613 28

05-05 1652 39

05-06 1677 25

05-07 1761 84

05-08 1805 44

05-09 1835 30

05-10 1901 66

05-11 1901 0

05-12 1920 19

05-13 1942 22

05-14 1976 34

05-15 2041 65

05-16 2120 79

05-17 2120 0

05-18 2120 0

05-19 2192 72

05-20 2278 86

05-21 2322 44

05-22 2371 49

05-23 2392 21

05-24 2418 26

05-25 2442 24

05-26 2449 7

05-27 2480 31

05-28 2525 45

05-29 2583 58

05-30 2636 53

05-31 2825 189
Cases 06-01 2830 5
Cases 06-02 2839 9

In [16]:
d.loc['Total'][1:]

Cases\r\r\r\n\r\r\r\n03-04        0
Cases\r\r\r\n\r\r\r\n03-05        0
Cases\r\r\r\n\r\r\r\n03-06        5
Cases\r\r\r\n\r\r\r\n03-09       12
Cases\r\r\r\n\r\r\r\n03-10       15
                              ...
Cases\r\r\r\n05-29            61006
Cases\r\r\r\n05-30            62338
Cases\r\r\r\n05-31            64287
Cases 06-01                   64880
Cases 06-02                   66568
Name: Total, Length: 88, dtype: object

In [17]:
count = 0
current_total = 0
for x in d.loc['Total'][1:]:
    print(d.loc['Total'][1:].index[count], int(x), int(x - current_total))
    count += 1
    current_total = x

Cases

03-04 0 0
Cases

03-05 0 0
Cases

03-06 5 5
Cases

03-09 12 7
Cases

03-10 15 3
Cases

03-11 18 3
Cases

03-12 22 4
Cases

03-13 22 0
Cases

03-15 56 34
Cases

03-16 56 0
Cases

03-17 63 7
Cases

03-18 82 19
Cases

03-19 108 26
Cases

03-20 175 67
Cases

03-21 235 60
Cases

03-22 263 28
Cases

03-23 287 24
Cases

03-24 712 425
Cases

03-25 975 263
Cases

03-26 1394 419
Cases

03-27 1731 337
Cases

03-28 2048 317
Cases

03-29 2552 504
Cases

03-30 2874 322
Cases

03-31 3266 392
Cases

04-01 3996 730
Cases

04-02 4665 669
Cases

04-03 5324 659
Cases

04-04 6112 788
Cases

04-05 6793 681
Cases

04-06 7273 480
Cases

04-07 8261 988
Cases

04-08 9353 1092
Cases

04-09 10230 877
Cases

04-10 11671 1441
Cases

04-11 12561 890
Cases

04-12 13484 923
Cases

04-13 13906 422
Cases

04-14 14624 718
Cases

04-15 15492 868
Cases

04-16 16455 963
Cases

04-17 17371 916
Cases

04-18 18260 889
Cases

04-19 18923 663
Cases

04-20 19458 535
Cases

04-21 20196 738
Cases

04-22 21069 873
Cases

04-23 21944 875
Cases

04-24 22806 862
Cases

04-25 23773 967
Cases

04-26 24631 858
Cases

04-27 25297 666
Cases

04-28 26171 874
Cases

04-29 27054 883
Cases
04-30 28087 1033
Cases
05-01 29229 1142
Cases
05-02 30522 1293
Cases
05-03 31548 1026
Cases
05-04 32332 784
Cases
05-05 33369 1037
Cases
05-06 34422 1053
Cases
05-07 35390 968
Cases
05-08 36609 1219
Cases
05-09 37860 1251
Cases
05-10 38869 1009
Cases
05-11 39869 1000
Cases
05-12 41048 1179
Cases
05-13 42403 1355
Cases
05-14 43851 1448
Cases
05-15 45198 1347
Cases
05-16 46999 1801
Cases
05-17 47784 785
Cases
05-18 48693 909
Cases
05-19 49912 1219
Cases
05-20 51323 1411
Cases
05-21 52268 945
Cases
05-22 53449 1181
Cases
05-23 54509 1060
Cases
05-24 55348 839
Cases
05-25 55971 623
Cases
05-26 56560 589
Cases
05-27 57921 1361
Cases
05-28 59776 1855
Cases
05-29 61006 1230
Cases
05-30 62338 1332
Cases
05-31 64287 1949
Cases 06-01 64880 593
Cases 06-02 66568 1688