In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import datetime

In [2]:
!ls ..

 CoVID-19_Dashboard_Data.csv
'Cumulative Tests over Time by County.xlsx'
'Texas COVID-19 Active Case Data by County.xlsx'
'Texas COVID-19 Case Count Data by County.xlsx'
'Texas COVID-19 Fatality Count Data by County.xlsx'
'Texas COVID-19 Hospitalizations by TSA.xlsx'
 Texas_Covid_Data_Notebook
 jup_work
 nohup.out
 working

In [3]:
df_tests = pd.read_excel("../Cumulative Tests over Time by County.xlsx",header=1)

In [38]:
df_tests[df_tests["County"] == 'Bexar']

,County,Tests Through April 21,Tests Through April 22,Tests Through April 23,Tests Through April 24,Tests Through April 25,Tests Through April 26,Tests Through April 27,Tests Through April 28,Tests Through April 29,...,Tests Through June 10,Tests Through June 11,Tests Through June 12,Tests Through June 13,Tests Through June 14,Tests Through June 15,Tests Through June 16,Tests Through June 17,Tests Through June 18,Tests Through June 19
14,Bexar,10274.0,10804.0,11020.0,9231.0,9316.0,9501.0,9584.0,9667.0,10014.0,...,-,52014.0,52792.0,53614.0,54448.0,55240.0,56360.0,56856.0,57849.0,59999.0

In [4]:
df_tests[:5]

,County,Tests Through April 21,Tests Through April 22,Tests Through April 23,Tests Through April 24,Tests Through April 25,Tests Through April 26,Tests Through April 27,Tests Through April 28,Tests Through April 29,...,Tests Through June 10,Tests Through June 11,Tests Through June 12,Tests Through June 13,Tests Through June 14,Tests Through June 15,Tests Through June 16,Tests Through June 17,Tests Through June 18,Tests Through June 19
0,Anderson,270.0,282.0,297.0,329.0,337.0,337.0,360.0,360.0,397.0,...,-,1627.0,1632.0,1634.0,2035.0,2568.0,2679.0,2703.0,2713.0,2723.0
1,Andrews,2.0,2.0,5.0,6.0,6.0,6.0,6.0,6.0,6.0,...,-,64.0,64.0,68.0,68.0,68.0,72.0,76.0,77.0,81.0
2,Angelina,282.0,311.0,431.0,434.0,469.0,468.0,544.0,552.0,626.0,...,-,2819.0,2815.0,2855.0,2878.0,2896.0,3002.0,3151.0,3354.0,3407.0
3,Aransas,16.0,17.0,15.0,24.0,27.0,27.0,27.0,27.0,28.0,...,-,300.0,305.0,310.0,315.0,316.0,317.0,318.0,324.0,331.0
4,Archer,8.0,9.0,13.0,18.0,20.0,20.0,20.0,20.0,20.0,...,-,76.0,76.0,76.0,77.0,78.0,79.0,79.0,82.0,81.0

In [5]:
a = df_tests.set_index('County')

In [6]:
b = a.T.TOTAL[a.columns[1:]]

In [7]:
b

Tests Through April 22         216783
Tests Through April 23         225078
Tests Through April 24         242547
Tests Through April 25         262816
Tests Through April 26         276021
Tests Through April 27         290517
Tests Through April 28         300384
Tests Through April 29         314790
Tests Through April 30         330300
Tests Through May 1            351775
Tests Through May 2            380648
Tests Through May 3            390560
Tests Through May 4            407398
Tests Through May 5*           427210
Tests Through May 6            438938
Tests Through May 7            455162
Tests Through May 8            477118
Tests Through May 9            489294
Tests Through May 10           513978
Tests Through May 11           525697
Tests Through May 12           538172
Tests Through May 13           587431
Tests Through May 14           623284
Tests Through May 15           645992
Tests Through May 16           678471
Tests Through May 17           693276
Tests Through May 18           723013
Tests Through May 19           744937
Tests Through May 20           770241
Tests Through May 21           800433
Tests Through May 22           834437
Tests Through May 23           870935
Tests Through May 24           886354
Tests Through May 25           906074
Tests Through May 26           943239
Tests Through May 27           961861
Tests Through May 28           989994
Tests Through May 29      1.02745e+06
Tests Through May 30      1.05479e+06
Tests Through May 31      1.07349e+06
Tests Through June 1      1.09368e+06
Tests Through June 2      1.11727e+06
Tests Through June 3      1.15087e+06
Tests Through June 4      1.17495e+06
Tests Through June 5      1.20919e+06
Tests Through June 6      1.21896e+06
Tests Through June 7       1.2559e+06
Tests Through June 8      1.28614e+06
Tests Through June 9      1.30205e+06
Tests Through June 10         1348893
Tests Through June 11     1.37013e+06
Tests Through June 12     1.40437e+06
Tests Through June 13     1.44295e+06
Tests Through June 14     1.46385e+06
Tests Through June 15     1.49902e+06
Tests Through June 16     1.52243e+06
Tests Through June 17     1.56054e+06
Tests Through June 18     1.57692e+06
Tests Through June 19     1.62285e+06
Name: TOTAL, dtype: object

In [8]:
for x in range(-55,0,1):
    print(x, x-1)
    print(b.index[x], b[x]- b[x-1])

-55 -56
Tests Through April 26 13205.0
-54 -55
Tests Through April 27 14496.0
-53 -54
Tests Through April 28 9867.0
-52 -53
Tests Through April 29 14406.0
-51 -52
Tests Through April 30 15510.0
-50 -51
Tests Through May 1 21475.0
-49 -50
Tests Through May 2 28873.0
-48 -49
Tests Through May 3 9912.0
-47 -48
Tests Through May 4 16838.0
-46 -47
Tests Through May 5* 19812.0
-45 -46
Tests Through May 6 11728.0
-44 -45
Tests Through May 7 16224.0
-43 -44
Tests Through May 8 21956.0
-42 -43
Tests Through May 9 12176.0
-41 -42
Tests Through May 10 24684.0
-40 -41
Tests Through May 11 11719.0
-39 -40
Tests Through May 12 12475.0
-38 -39
Tests Through May 13 49259.0
-37 -38
Tests Through May 14 35853.0
-36 -37
Tests Through May 15 22708.0
-35 -36
Tests Through May 16 32479.0
-34 -35
Tests Through May 17 14805.0
-33 -34
Tests Through May 18 29737.0
-32 -33
Tests Through May 19 21924.0
-31 -32
Tests Through May 20 25304.0
-30 -31
Tests Through May 21 30192.0
-29 -30
Tests Through May 22 34004.0
-28 -29
Tests Through May 23 36498.0
-27 -28
Tests Through May 24 15419.0
-26 -27
Tests Through May 25 19720.0
-25 -26
Tests Through May 26 37165.0
-24 -25
Tests Through May 27 18622.0
-23 -24
Tests Through May 28 28133.0
-22 -23
Tests Through May 29 37455.0
-21 -22
Tests Through May 30 27344.0
-20 -21
Tests Through May 31 18698.0
-19 -20
Tests Through June 1 20185.0
-18 -19
Tests Through June 2 23598.0
-17 -18
Tests Through June 3 33594.0
-16 -17
Tests Through June 4 24080.0
-15 -16
Tests Through June 5 34239.0
-14 -15
Tests Through June 6 9768.0
-13 -14
Tests Through June 7 36944.0
-12 -13
Tests Through June 8 30240.0
-11 -12
Tests Through June 9 15910.0
-10 -11
Tests Through June 10 46844.0
-9 -10
Tests Through June 11 21238.0
-8 -9
Tests Through June 12 34238.0
-7 -8
Tests Through June 13 38581.0
-6 -7
Tests Through June 14 20901.0
-5 -6
Tests Through June 15 35164.0
-4 -5
Tests Through June 16 23419.0
-3 -4
Tests Through June 17 38103.0
-2 -3
Tests Through June 18 16388.0
-1 -2
Tests Through June 19 45926.0

In [9]:
b[-1] - b[-2]

45926.0

In [10]:
b.index[-18][14:]

'June 2'

In [11]:
type(b)

pandas.core.series.Series

In [12]:
for z in b.index:
    print(z[14:])
for z in b.index:
    if z.endswith('*'):
        print(z[:-1])

April 22
April 23
April 24
April 25
April 26
April 27
April 28
April 29
April 30
May 1
May 2
May 3
May 4
May 5*
May 6
May 7
May 8
May 9
May 10
May 11
May 12
May 13
May 14
May 15
May 16
May 17
May 18
May 19
May 20
May 21
May 22
May 23
May 24
May 25
May 26
May 27
May 28
May 29
May 30
May 31
June 1
June 2
June 3
June 4
June 5
June 6
June 7
June 8
June 9
June 10
June 11
June 12
June 13
June 14
June 15
June 16
June 17
June 18
June 19
Tests Through May 5

In [13]:
for z in b.index:
    if z.endswith('*'):
        z = (z[:-1]) #address May 5*
    print(z[14:])

April 22
April 23
April 24
April 25
April 26
April 27
April 28
April 29
April 30
May 1
May 2
May 3
May 4
May 5
May 6
May 7
May 8
May 9
May 10
May 11
May 12
May 13
May 14
May 15
May 16
May 17
May 18
May 19
May 20
May 21
May 22
May 23
May 24
May 25
May 26
May 27
May 28
May 29
May 30
May 31
June 1
June 2
June 3
June 4
June 5
June 6
June 7
June 8
June 9
June 10
June 11
June 12
June 13
June 14
June 15
June 16
June 17
June 18
June 19

In [14]:
zz = df_total_tests = pd.DataFrame(b)

In [15]:
type(zz)

pandas.core.frame.DataFrame

In [16]:
new_dates = []
for z in b.index:
    if z.endswith('*'):
        z = (z[:-1]) #address May 5*
    new_dates.append(z[14:])

In [17]:
zz['Simple_str_dates'] = new_dates

In [18]:
zz

                              TOTAL Simple_str_dates
Tests Through April 22       216783         April 22
Tests Through April 23       225078         April 23
Tests Through April 24       242547         April 24
Tests Through April 25       262816         April 25
Tests Through April 26       276021         April 26
Tests Through April 27       290517         April 27
Tests Through April 28       300384         April 28
Tests Through April 29       314790         April 29
Tests Through April 30       330300         April 30
Tests Through May 1          351775            May 1
Tests Through May 2          380648            May 2
Tests Through May 3          390560            May 3
Tests Through May 4          407398            May 4
Tests Through May 5*         427210            May 5
Tests Through May 6          438938            May 6
Tests Through May 7          455162            May 7
Tests Through May 8          477118            May 8
Tests Through May 9          489294            May 9
Tests Through May 10         513978           May 10
Tests Through May 11         525697           May 11
Tests Through May 12         538172           May 12
Tests Through May 13         587431           May 13
Tests Through May 14         623284           May 14
Tests Through May 15         645992           May 15
Tests Through May 16         678471           May 16
Tests Through May 17         693276           May 17
Tests Through May 18         723013           May 18
Tests Through May 19         744937           May 19
Tests Through May 20         770241           May 20
Tests Through May 21         800433           May 21
Tests Through May 22         834437           May 22
Tests Through May 23         870935           May 23
Tests Through May 24         886354           May 24
Tests Through May 25         906074           May 25
Tests Through May 26         943239           May 26
Tests Through May 27         961861           May 27
Tests Through May 28         989994           May 28
Tests Through May 29    1.02745e+06           May 29
Tests Through May 30    1.05479e+06           May 30
Tests Through May 31    1.07349e+06           May 31
Tests Through June 1    1.09368e+06           June 1
Tests Through June 2    1.11727e+06           June 2
Tests Through June 3    1.15087e+06           June 3
Tests Through June 4    1.17495e+06           June 4
Tests Through June 5    1.20919e+06           June 5
Tests Through June 6    1.21896e+06           June 6
Tests Through June 7     1.2559e+06           June 7
Tests Through June 8    1.28614e+06           June 8
Tests Through June 9    1.30205e+06           June 9
Tests Through June 10       1348893          June 10
Tests Through June 11   1.37013e+06          June 11
Tests Through June 12   1.40437e+06          June 12
Tests Through June 13   1.44295e+06          June 13
Tests Through June 14   1.46385e+06          June 14
Tests Through June 15   1.49902e+06          June 15
Tests Through June 16   1.52243e+06          June 16
Tests Through June 17   1.56054e+06          June 17
Tests Through June 18   1.57692e+06          June 18
Tests Through June 19   1.62285e+06          June 19

In [19]:
zz.Simple_str_dates

Tests Through April 22    April 22
Tests Through April 23    April 23
Tests Through April 24    April 24
Tests Through April 25    April 25
Tests Through April 26    April 26
Tests Through April 27    April 27
Tests Through April 28    April 28
Tests Through April 29    April 29
Tests Through April 30    April 30
Tests Through May 1          May 1
Tests Through May 2          May 2
Tests Through May 3          May 3
Tests Through May 4          May 4
Tests Through May 5*         May 5
Tests Through May 6          May 6
Tests Through May 7          May 7
Tests Through May 8          May 8
Tests Through May 9          May 9
Tests Through May 10        May 10
Tests Through May 11        May 11
Tests Through May 12        May 12
Tests Through May 13        May 13
Tests Through May 14        May 14
Tests Through May 15        May 15
Tests Through May 16        May 16
Tests Through May 17        May 17
Tests Through May 18        May 18
Tests Through May 19        May 19
Tests Through May 20        May 20
Tests Through May 21        May 21
Tests Through May 22        May 22
Tests Through May 23        May 23
Tests Through May 24        May 24
Tests Through May 25        May 25
Tests Through May 26        May 26
Tests Through May 27        May 27
Tests Through May 28        May 28
Tests Through May 29        May 29
Tests Through May 30        May 30
Tests Through May 31        May 31
Tests Through June 1        June 1
Tests Through June 2        June 2
Tests Through June 3        June 3
Tests Through June 4        June 4
Tests Through June 5        June 5
Tests Through June 6        June 6
Tests Through June 7        June 7
Tests Through June 8        June 8
Tests Through June 9        June 9
Tests Through June 10      June 10
Tests Through June 11      June 11
Tests Through June 12      June 12
Tests Through June 13      June 13
Tests Through June 14      June 14
Tests Through June 15      June 15
Tests Through June 16      June 16
Tests Through June 17      June 17
Tests Through June 18      June 18
Tests Through June 19      June 19
Name: Simple_str_dates, dtype: object

In [20]:
date_list = []
for x in zz.Simple_str_dates:
    month = datetime.datetime.strptime(x.split(' ')[0], '%B').month
    day = int(x.split(' ')[1])
    date_list.append(datetime.datetime(2020, month, day))
zz['Date_based_date'] = date_list

In [21]:
zz

                              TOTAL Simple_str_dates Date_based_date
Tests Through April 22       216783         April 22      2020-04-22
Tests Through April 23       225078         April 23      2020-04-23
Tests Through April 24       242547         April 24      2020-04-24
Tests Through April 25       262816         April 25      2020-04-25
Tests Through April 26       276021         April 26      2020-04-26
Tests Through April 27       290517         April 27      2020-04-27
Tests Through April 28       300384         April 28      2020-04-28
Tests Through April 29       314790         April 29      2020-04-29
Tests Through April 30       330300         April 30      2020-04-30
Tests Through May 1          351775            May 1      2020-05-01
Tests Through May 2          380648            May 2      2020-05-02
Tests Through May 3          390560            May 3      2020-05-03
Tests Through May 4          407398            May 4      2020-05-04
Tests Through May 5*         427210            May 5      2020-05-05
Tests Through May 6          438938            May 6      2020-05-06
Tests Through May 7          455162            May 7      2020-05-07
Tests Through May 8          477118            May 8      2020-05-08
Tests Through May 9          489294            May 9      2020-05-09
Tests Through May 10         513978           May 10      2020-05-10
Tests Through May 11         525697           May 11      2020-05-11
Tests Through May 12         538172           May 12      2020-05-12
Tests Through May 13         587431           May 13      2020-05-13
Tests Through May 14         623284           May 14      2020-05-14
Tests Through May 15         645992           May 15      2020-05-15
Tests Through May 16         678471           May 16      2020-05-16
Tests Through May 17         693276           May 17      2020-05-17
Tests Through May 18         723013           May 18      2020-05-18
Tests Through May 19         744937           May 19      2020-05-19
Tests Through May 20         770241           May 20      2020-05-20
Tests Through May 21         800433           May 21      2020-05-21
Tests Through May 22         834437           May 22      2020-05-22
Tests Through May 23         870935           May 23      2020-05-23
Tests Through May 24         886354           May 24      2020-05-24
Tests Through May 25         906074           May 25      2020-05-25
Tests Through May 26         943239           May 26      2020-05-26
Tests Through May 27         961861           May 27      2020-05-27
Tests Through May 28         989994           May 28      2020-05-28
Tests Through May 29    1.02745e+06           May 29      2020-05-29
Tests Through May 30    1.05479e+06           May 30      2020-05-30
Tests Through May 31    1.07349e+06           May 31      2020-05-31
Tests Through June 1    1.09368e+06           June 1      2020-06-01
Tests Through June 2    1.11727e+06           June 2      2020-06-02
Tests Through June 3    1.15087e+06           June 3      2020-06-03
Tests Through June 4    1.17495e+06           June 4      2020-06-04
Tests Through June 5    1.20919e+06           June 5      2020-06-05
Tests Through June 6    1.21896e+06           June 6      2020-06-06
Tests Through June 7     1.2559e+06           June 7      2020-06-07
Tests Through June 8    1.28614e+06           June 8      2020-06-08
Tests Through June 9    1.30205e+06           June 9      2020-06-09
Tests Through June 10       1348893          June 10      2020-06-10
Tests Through June 11   1.37013e+06          June 11      2020-06-11
Tests Through June 12   1.40437e+06          June 12      2020-06-12
Tests Through June 13   1.44295e+06          June 13      2020-06-13
Tests Through June 14   1.46385e+06          June 14      2020-06-14
Tests Through June 15   1.49902e+06          June 15      2020-06-15
Tests Through June 16   1.52243e+06          June 16      2020-06-16
Tests Through June 17   1.56054e+06          June 17      2020-06-17
Tests Through June 18   1.57692e+06          June 18      2020-06-18
Tests Through June 19   1.62285e+06          June 19      2020-06-19

In [22]:
df_total_test = zz.set_index('Date_based_date')

In [23]:
df_total_test

                       TOTAL Simple_str_dates
Date_based_date
2020-04-22            216783         April 22
2020-04-23            225078         April 23
2020-04-24            242547         April 24
2020-04-25            262816         April 25
2020-04-26            276021         April 26
2020-04-27            290517         April 27
2020-04-28            300384         April 28
2020-04-29            314790         April 29
2020-04-30            330300         April 30
2020-05-01            351775            May 1
2020-05-02            380648            May 2
2020-05-03            390560            May 3
2020-05-04            407398            May 4
2020-05-05            427210            May 5
2020-05-06            438938            May 6
2020-05-07            455162            May 7
2020-05-08            477118            May 8
2020-05-09            489294            May 9
2020-05-10            513978           May 10
2020-05-11            525697           May 11
2020-05-12            538172           May 12
2020-05-13            587431           May 13
2020-05-14            623284           May 14
2020-05-15            645992           May 15
2020-05-16            678471           May 16
2020-05-17            693276           May 17
2020-05-18            723013           May 18
2020-05-19            744937           May 19
2020-05-20            770241           May 20
2020-05-21            800433           May 21
2020-05-22            834437           May 22
2020-05-23            870935           May 23
2020-05-24            886354           May 24
2020-05-25            906074           May 25
2020-05-26            943239           May 26
2020-05-27            961861           May 27
2020-05-28            989994           May 28
2020-05-29       1.02745e+06           May 29
2020-05-30       1.05479e+06           May 30
2020-05-31       1.07349e+06           May 31
2020-06-01       1.09368e+06           June 1
2020-06-02       1.11727e+06           June 2
2020-06-03       1.15087e+06           June 3
2020-06-04       1.17495e+06           June 4
2020-06-05       1.20919e+06           June 5
2020-06-06       1.21896e+06           June 6
2020-06-07        1.2559e+06           June 7
2020-06-08       1.28614e+06           June 8
2020-06-09       1.30205e+06           June 9
2020-06-10           1348893          June 10
2020-06-11       1.37013e+06          June 11
2020-06-12       1.40437e+06          June 12
2020-06-13       1.44295e+06          June 13
2020-06-14       1.46385e+06          June 14
2020-06-15       1.49902e+06          June 15
2020-06-16       1.52243e+06          June 16
2020-06-17       1.56054e+06          June 17
2020-06-18       1.57692e+06          June 18
2020-06-19       1.62285e+06          June 19

In [24]:
df_total_test.loc[df_total_test.index[0]]

TOTAL                 216783
Simple_str_dates    April 22
Name: 2020-04-22 00:00:00, dtype: object

In [25]:
df_total_test.loc[df_total_test.index[1:]]

                       TOTAL Simple_str_dates
Date_based_date
2020-04-23            225078         April 23
2020-04-24            242547         April 24
2020-04-25            262816         April 25
2020-04-26            276021         April 26
2020-04-27            290517         April 27
2020-04-28            300384         April 28
2020-04-29            314790         April 29
2020-04-30            330300         April 30
2020-05-01            351775            May 1
2020-05-02            380648            May 2
2020-05-03            390560            May 3
2020-05-04            407398            May 4
2020-05-05            427210            May 5
2020-05-06            438938            May 6
2020-05-07            455162            May 7
2020-05-08            477118            May 8
2020-05-09            489294            May 9
2020-05-10            513978           May 10
2020-05-11            525697           May 11
2020-05-12            538172           May 12
2020-05-13            587431           May 13
2020-05-14            623284           May 14
2020-05-15            645992           May 15
2020-05-16            678471           May 16
2020-05-17            693276           May 17
2020-05-18            723013           May 18
2020-05-19            744937           May 19
2020-05-20            770241           May 20
2020-05-21            800433           May 21
2020-05-22            834437           May 22
2020-05-23            870935           May 23
2020-05-24            886354           May 24
2020-05-25            906074           May 25
2020-05-26            943239           May 26
2020-05-27            961861           May 27
2020-05-28            989994           May 28
2020-05-29       1.02745e+06           May 29
2020-05-30       1.05479e+06           May 30
2020-05-31       1.07349e+06           May 31
2020-06-01       1.09368e+06           June 1
2020-06-02       1.11727e+06           June 2
2020-06-03       1.15087e+06           June 3
2020-06-04       1.17495e+06           June 4
2020-06-05       1.20919e+06           June 5
2020-06-06       1.21896e+06           June 6
2020-06-07        1.2559e+06           June 7
2020-06-08       1.28614e+06           June 8
2020-06-09       1.30205e+06           June 9
2020-06-10           1348893          June 10
2020-06-11       1.37013e+06          June 11
2020-06-12       1.40437e+06          June 12
2020-06-13       1.44295e+06          June 13
2020-06-14       1.46385e+06          June 14
2020-06-15       1.49902e+06          June 15
2020-06-16       1.52243e+06          June 16
2020-06-17       1.56054e+06          June 17
2020-06-18       1.57692e+06          June 18
2020-06-19       1.62285e+06          June 19

In [31]:
difference_list = [0]
percentage_list = [0]
count = 0
for x in df_total_test.index:
    current_total = int(df_total_test.loc[x].TOTAL)
    if count > 0:
        difference_list.append(current_total - previous_total)
    previous_total = current_total
    count += 1
df_total_test['Daily_Change'] = difference_list
#for x in df_total_test.index[1:]:
#    percentage_list.append(df_total_test.loc[x].Daily_Change/df_total_test.loc[x].TOTAL)
#df_total_test['Daily_Pos']

In [27]:
df_total_test

                       TOTAL Simple_str_dates  Daily_Change
Date_based_date
2020-04-22            216783         April 22             0
2020-04-23            225078         April 23          8295
2020-04-24            242547         April 24         17469
2020-04-25            262816         April 25         20269
2020-04-26            276021         April 26         13205
2020-04-27            290517         April 27         14496
2020-04-28            300384         April 28          9867
2020-04-29            314790         April 29         14406
2020-04-30            330300         April 30         15510
2020-05-01            351775            May 1         21475
2020-05-02            380648            May 2         28873
2020-05-03            390560            May 3          9912
2020-05-04            407398            May 4         16838
2020-05-05            427210            May 5         19812
2020-05-06            438938            May 6         11728
2020-05-07            455162            May 7         16224
2020-05-08            477118            May 8         21956
2020-05-09            489294            May 9         12176
2020-05-10            513978           May 10         24684
2020-05-11            525697           May 11         11719
2020-05-12            538172           May 12         12475
2020-05-13            587431           May 13         49259
2020-05-14            623284           May 14         35853
2020-05-15            645992           May 15         22708
2020-05-16            678471           May 16         32479
2020-05-17            693276           May 17         14805
2020-05-18            723013           May 18         29737
2020-05-19            744937           May 19         21924
2020-05-20            770241           May 20         25304
2020-05-21            800433           May 21         30192
2020-05-22            834437           May 22         34004
2020-05-23            870935           May 23         36498
2020-05-24            886354           May 24         15419
2020-05-25            906074           May 25         19720
2020-05-26            943239           May 26         37165
2020-05-27            961861           May 27         18622
2020-05-28            989994           May 28         28133
2020-05-29       1.02745e+06           May 29         37455
2020-05-30       1.05479e+06           May 30         27344
2020-05-31       1.07349e+06           May 31         18698
2020-06-01       1.09368e+06           June 1         20185
2020-06-02       1.11727e+06           June 2         23598
2020-06-03       1.15087e+06           June 3         33594
2020-06-04       1.17495e+06           June 4         24080
2020-06-05       1.20919e+06           June 5         34239
2020-06-06       1.21896e+06           June 6          9768
2020-06-07        1.2559e+06           June 7         36944
2020-06-08       1.28614e+06           June 8         30240
2020-06-09       1.30205e+06           June 9         15910
2020-06-10           1348893          June 10         46844
2020-06-11       1.37013e+06          June 11         21238
2020-06-12       1.40437e+06          June 12         34238
2020-06-13       1.44295e+06          June 13         38581
2020-06-14       1.46385e+06          June 14         20901
2020-06-15       1.49902e+06          June 15         35164
2020-06-16       1.52243e+06          June 16         23419
2020-06-17       1.56054e+06          June 17         38103
2020-06-18       1.57692e+06          June 18         16388
2020-06-19       1.62285e+06          June 19         45926

In [ ]:
df_total_test[['TOTAL']]

In [ ]:
datetime.datetime.strptime(b.index[0][14:].split(' ')[0], '%B').month

In [ ]:
dated_dict = {}
count = 0
for x in b:
    month_temp = datetime.datetime.strptime(b.index[count][14:].split(' ')[0], '%B').month
    if b.index[count][14:].split(' ')[1] is int:
        day_temp = int(b.index[count][14:].split(' ')[1])
    else:
        day_temp = 5 #May 5*
        dated_dict[datetime.datetime(2020, month_temp, day_temp)] = b[count]
    count += 1

In [ ]:
dated_df = pd.DataFrame(dated_dict.items(), columns=['Date', 'Tests'])

In [ ]:
c = dated_df.set_index('Date')

In [ ]:
import datetime
import matplotlib.dates as mdates
months = mdates.MonthLocator()
days = mdates.DayLocator()
timeFmt = mdates.DateFormatter('%b %Y')
fig, ax = plt.subplots()
fig.set_size_inches(15,8)
ax.xaxis.set_major_locator(months)
ax.xaxis.set_major_formatter(timeFmt)
ax.xaxis.set_minor_locator(days)
plt.xlabel('Date',color='black')
plt.ylabel('Number Active',color='black')
plt.plot(c)
plt.title('Texas Total Tests')
plt.savefig('TexasTotalTests.png')

In [ ]:
c

In [ ]:
x = c.diff(periods = 1)

In [ ]:
x

In [ ]:
x.rename(columns={'Tests':'Daily Tests'}, inplace = True)

In [ ]:
months = mdates.MonthLocator()
days = mdates.DayLocator()
timeFmt = mdates.DateFormatter('%b %Y')
fig, ax = plt.subplots()
fig.set_size_inches(15,8)
ax.xaxis.set_major_locator(months)
ax.xaxis.set_major_formatter(timeFmt)
ax.xaxis.set_minor_locator(days)
plt.xlabel('Date',color='black')
plt.ylabel('Change In Active Cases',color='black')
plt.title('Texas Daily Change In Active Cases')
plt.bar(x.index,x['Change In Active Cases'])
fig.savefig('TexasChangeInActiveCases.png')