In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import datetime

In [2]:
!ls ..

'Cumulative Tests over Time by County.xlsx'
'Texas COVID-19 Active Case Data by County.xlsx'
'Texas COVID-19 Case Count Data by County.xlsx'
'Texas COVID-19 Fatality Count Data by County.xlsx'
'Texas COVID-19 Hospitalizations by TSA.xlsx'
 Texas_Covid_Data_Notebook
 nohup.out

In [3]:
df_tests = pd.read_excel("../Cumulative Tests over Time by County.xlsx",header=1)

In [4]:
df_tests[:5]

,County,Tests Through April 21,Tests Through April 22,Tests Through April 23,Tests Through April 24,Tests Through April 25,Tests Through April 26,Tests Through April 27,Tests Through April 28,Tests Through April 29,...,Tests Through June 6,Tests Through June 7,Tests Through June 8,Tests Through June 9,Tests Through June 10,Tests Through June 11,Tests Through June 12,Tests Through June 13,Tests Through June 14,Tests Through June 15
0,Anderson,270.0,282.0,297.0,329.0,337.0,337.0,360.0,360.0,397.0,...,1450.0,1599.0,1606.0,1620.0,-,1627.0,1632.0,1634.0,2035.0,2568.0
1,Andrews,2.0,2.0,5.0,6.0,6.0,6.0,6.0,6.0,6.0,...,56.0,58.0,61.0,61.0,-,64.0,64.0,68.0,68.0,68.0
2,Angelina,282.0,311.0,431.0,434.0,469.0,468.0,544.0,552.0,626.0,...,2578.0,2709.0,2741.0,2777.0,-,2819.0,2815.0,2855.0,2878.0,2896.0
3,Aransas,16.0,17.0,15.0,24.0,27.0,27.0,27.0,27.0,28.0,...,283.0,292.0,290.0,298.0,-,300.0,305.0,310.0,315.0,316.0
4,Archer,8.0,9.0,13.0,18.0,20.0,20.0,20.0,20.0,20.0,...,61.0,73.0,74.0,76.0,-,76.0,76.0,76.0,77.0,78.0

In [5]:
a = df_tests.set_index('County')

In [6]:
b = a.T.TOTAL[a.columns[1:]]

In [7]:
b

Tests Through April 22         216783
Tests Through April 23         225078
Tests Through April 24         242547
Tests Through April 25         262816
Tests Through April 26         276021
Tests Through April 27         290517
Tests Through April 28         300384
Tests Through April 29         314790
Tests Through April 30         330300
Tests Through May 1            351775
Tests Through May 2            380648
Tests Through May 3            390560
Tests Through May 4            407398
Tests Through May 5*           427210
Tests Through May 6            438938
Tests Through May 7            455162
Tests Through May 8            477118
Tests Through May 9            489294
Tests Through May 10           513978
Tests Through May 11           525697
Tests Through May 12           538172
Tests Through May 13           587431
Tests Through May 14           623284
Tests Through May 15           645992
Tests Through May 16           678471
Tests Through May 17           693276
Tests Through May 18           723013
Tests Through May 19           744937
Tests Through May 20           770241
Tests Through May 21           800433
Tests Through May 22           834437
Tests Through May 23           870935
Tests Through May 24           886354
Tests Through May 25           906074
Tests Through May 26           943239
Tests Through May 27           961861
Tests Through May 28           989994
Tests Through May 29      1.02745e+06
Tests Through May 30      1.05479e+06
Tests Through May 31      1.07349e+06
Tests Through June 1      1.09368e+06
Tests Through June 2      1.11727e+06
Tests Through June 3      1.15087e+06
Tests Through June 4      1.17495e+06
Tests Through June 5      1.20919e+06
Tests Through June 6      1.21896e+06
Tests Through June 7       1.2559e+06
Tests Through June 8      1.28614e+06
Tests Through June 9      1.30205e+06
Tests Through June 10         1348893
Tests Through June 11     1.37013e+06
Tests Through June 12     1.40437e+06
Tests Through June 13     1.44295e+06
Tests Through June 14     1.46385e+06
Tests Through June 15     1.49902e+06
Name: TOTAL, dtype: object

In [18]:
for x in range(-50,0,1):
    print(x, x-1)
    print(b.index[x], b[x]- b[x-1])

-50 -51
Tests Through April 27 14496.0
-49 -50
Tests Through April 28 9867.0
-48 -49
Tests Through April 29 14406.0
-47 -48
Tests Through April 30 15510.0
-46 -47
Tests Through May 1 21475.0
-45 -46
Tests Through May 2 28873.0
-44 -45
Tests Through May 3 9912.0
-43 -44
Tests Through May 4 16838.0
-42 -43
Tests Through May 5* 19812.0
-41 -42
Tests Through May 6 11728.0
-40 -41
Tests Through May 7 16224.0
-39 -40
Tests Through May 8 21956.0
-38 -39
Tests Through May 9 12176.0
-37 -38
Tests Through May 10 24684.0
-36 -37
Tests Through May 11 11719.0
-35 -36
Tests Through May 12 12475.0
-34 -35
Tests Through May 13 49259.0
-33 -34
Tests Through May 14 35853.0
-32 -33
Tests Through May 15 22708.0
-31 -32
Tests Through May 16 32479.0
-30 -31
Tests Through May 17 14805.0
-29 -30
Tests Through May 18 29737.0
-28 -29
Tests Through May 19 21924.0
-27 -28
Tests Through May 20 25304.0
-26 -27
Tests Through May 21 30192.0
-25 -26
Tests Through May 22 34004.0
-24 -25
Tests Through May 23 36498.0
-23 -24
Tests Through May 24 15419.0
-22 -23
Tests Through May 25 19720.0
-21 -22
Tests Through May 26 37165.0
-20 -21
Tests Through May 27 18622.0
-19 -20
Tests Through May 28 28133.0
-18 -19
Tests Through May 29 37455.0
-17 -18
Tests Through May 30 27344.0
-16 -17
Tests Through May 31 18698.0
-15 -16
Tests Through June 1 20185.0
-14 -15
Tests Through June 2 23598.0
-13 -14
Tests Through June 3 33594.0
-12 -13
Tests Through June 4 24080.0
-11 -12
Tests Through June 5 34239.0
-10 -11
Tests Through June 6 9768.0
-9 -10
Tests Through June 7 36944.0
-8 -9
Tests Through June 8 30240.0
-7 -8
Tests Through June 9 15910.0
-6 -7
Tests Through June 10 46844.0
-5 -6
Tests Through June 11 21238.0
-4 -5
Tests Through June 12 34238.0
-3 -4
Tests Through June 13 38581.0
-2 -3
Tests Through June 14 20901.0
-1 -2
Tests Through June 15 35164.0

In [8]:
b[-1] - b[-2]

35164.0

In [ ]:
b.index[-18][14:]

In [ ]:
datetime.datetime.strptime('April', '%B').month

In [ ]:
datetime.datetime.strptime(b.index[0][14:].split(' ')[0], '%B').month

In [ ]:
dated_dict = {}
count = 0
for x in b:
    month_temp = datetime.datetime.strptime(b.index[count][14:].split(' ')[0], '%B').month
    if b.index[count][14:].split(' ')[1] is int:
        day_temp = int(b.index[count][14:].split(' ')[1])
    else:
        day_temp = 5 #May 5*
        dated_dict[datetime.datetime(2020, month_temp, day_temp)] = b[count]
    count += 1

In [ ]:
dated_df = pd.DataFrame(dated_dict.items(), columns=['Date', 'Tests'])

In [ ]:
c = dated_df.set_index('Date')

In [ ]:
import datetime
import matplotlib.dates as mdates
months = mdates.MonthLocator()
days = mdates.DayLocator()
timeFmt = mdates.DateFormatter('%b %Y')
fig, ax = plt.subplots()
fig.set_size_inches(15,8)
ax.xaxis.set_major_locator(months)
ax.xaxis.set_major_formatter(timeFmt)
ax.xaxis.set_minor_locator(days)
plt.xlabel('Date',color='black')
plt.ylabel('Number Active',color='black')
plt.plot(c)
plt.title('Texas Total Tests')
plt.savefig('TexasTotalTests.png')

In [ ]:
c

In [ ]:
x = c.diff(periods = 1)

In [ ]:
x

In [ ]:
x.rename(columns={'Tests':'Daily Tests'}, inplace = True)

In [ ]:
months = mdates.MonthLocator()
days = mdates.DayLocator()
timeFmt = mdates.DateFormatter('%b %Y')
fig, ax = plt.subplots()
fig.set_size_inches(15,8)
ax.xaxis.set_major_locator(months)
ax.xaxis.set_major_formatter(timeFmt)
ax.xaxis.set_minor_locator(days)
plt.xlabel('Date',color='black')
plt.ylabel('Change In Active Cases',color='black')
plt.title('Texas Daily Change In Active Cases')
plt.bar(x.index,x['Change In Active Cases'])
fig.savefig('TexasChangeInActiveCases.png')